<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <link rel='stylesheet' href='/stylesheets/dataTables.bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' />
  </head>
  <body>
    {{{body}}}


    <script src="/javascript/jquery-1.10.2.js"></script>
    <script src="/javascript/bootstrap.js"></script>
    <script src="/javascript/jquery.dataTables.js"></script>
    <script src="/javascript/dataTables.bootstrap.js"></script>
    <script src="/javascript/custom.js"></script>
  </body>
</html>
